# Example environment file for development protocol selection

# For PROTOCOL, UI, and REPROSCHEMA we reference folders stored
# locally in this folder. Those folders are generated after the 
# the submodules are cloned

# Set this to the folder name of the protocol you want to serve
# /activities and / are served from the protocol path
PROTOCOL=reproschema-demo-protocol

# each 
BACKEND_PORT=3000

UI=reproschema-ui
REPROSCHEMA=reproschema
